<div class="container">
    <h1>WAITERS APP</h1>
    <form action="/waiters/" method="POST">
    <div>
        {{!-- <div class="adminBtn"
   <a href="/admin" ><button type="button" class="resetBtn">Admin</button></a>
    </div> --}}
    Name
    <input type="text" name="userName" id="inputElement" class="textArea" placeholder="enter your name here"
            value={{waiters.userName}}>  
   
    
 <div class="errMsg">{{messages.errMsg}}</div>
<div class="days_check">
    <input type="checkbox" name="days"  value="Sunday">
    <span class="label-body" > Sunday</span>
    <input type="checkbox" name="days"  value="Monday">
    <span class="label-body" > Monday</span>
    <input type="checkbox" name="days"  value="Tuesday">
    <span class="label-body" > Tuesday</span>
    <input type="checkbox" name="days"  value="Wednesday">
    <span class="label-body" > Wednesday</span>
    <input type="checkbox" name="days"  value="Thursday">
    <span class="label-body" > Thursday</span>
    <input type="checkbox" name="days"  value=" Friday">
    <span class="label-body" > Friday</span>
    <input type="checkbox" name="days"  value="Saturday">
    <span class="label-body" > Saturday</span>
  
    
</div>
  <input type="submit" value="Submit" class="btn">

    </form>

  
        <h2>{{days}}</h2>
        
    <div>
      <a href="/admin">Admin</span></a>
</div>
    <div class="message"></div>
  
</div>
  
</div>