.container {
	margin: auto;
	width: 80%;
	background-color: bisque;
	text-align-last: center;
}
body {
	font-family: arial;
	color:black;
	background-color: burlywood;
  }
  input[type="text"] {
	width: 15em;
	padding: 0.5em;
	margin-bottom: 2em;
	margin-top: 2em;

  }
  input[type="submit"] {
	width: 15em;
	padding: 0.5em;
	margin-bottom: 2em;
	margin-top: 2em;

  }
  table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
  }
  th, td {
	padding: 10px;
	text-align: left;    
  }
  .tables{
	margin: auto;
	width: 80%;
	text-align-last: center;
  }
  .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   color:black;

  }.li{
  text-align:justify;
}
.green{
  color: green;
}
.orange{
  color: orange;
}
.red{
  color: red;
}
h1{
  color:black;
}
h2{
 color:black;
}
  .success{
	color: green;
	  }
	.error{
	  color: red;
	}
	  span{
		color: black;
	  }
  table, td, th {  
    border: 1px solid black;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }